<div class="banner-box">
    <ul class="banner">
        <li><a href="#"><img src=<%= firSrc %> alt=""></a></li>
        <li><a href="#"><img src=<%= secSrc %> alt=""></a></li>
        <li><a href="#"><img src=<%= thiSrc %> alt=""></a></li>
        <li><a href="#"><img src=<%= fouSrc %> alt=""></a></li>
        <li><a href="#"><img src=<%= fivSrc %> alt=""></a></li>
        <li><a href="#"><img src=<%= firSrc %> alt=""></a></li>
        <!--<li><a href="#"><img src= alt=""></a></li>
        <li><a href="#"><img src= alt=""></a></li>
        <li><a href="#"><img src= alt=""></a></li>
        <li><a href="#"><img src= alt=""></a></li>
        <li><a href="#"><img src= alt=""></a></li>-->
    </ul>
    <ul class="ul-index"></ul>
</div>


<!--
"img/576690f5N77fa449c.jpg!q70.jpg"
"img/57636d95N103a1d86.jpg"
"img/575e8350N45affc0f.jpg"
"img/576567ebN395c0ec6.jpg!q70.jpg"
"img/5764a68fN914b6867.jpg"
"img/576690f5N77fa449c.jpg!q70.jpg"-->
